@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}
@media screen and (max-width: 320px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  font-size: 1.8em;
  line-height: 1.5;
  word-wrap: break-word;
  height: 100%;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 2.8em;
  }
}

a {
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

main {
  display: block;
}

.btn {
  display: inline-block;
  padding: 4px 20px;
  border-radius: 100px;
  font-size: 1.4rem;
  color: #333;
}
.btn.positive {
  background-color: #fbc045;
}
.btn.edit {
  color: #fff;
  background-color: #999;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media screen and (min-width: 768px) {
  button:hover {
    opacity: 0.8;
  }
}

.header {
  padding: 10px 0;
  border-bottom: 2px solid #d3d3d3;
}
.header .inner {
  max-width: 660px;
  margin: 0 auto;
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header h1 img {
  width: 70px;
}
.header ul li a {
  font-size: 1.4rem;
  color: #333;
}
.header ul li a:not(:nth-of-type(1)) {
  margin-left: 10px;
}
.header .logout {
  text-align: right;
}
.header .logout .name {
  font-size: 1.6rem;
}
.header .logout a {
  color: #000;
}
main {
  max-width: 660px;
  margin: 30px auto 0;
  padding: 0 30px;
}
main > div .head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
main > div .head .back-link a {
  font-size: 1.5rem;
  color: #333;
}
main .cont {
  margin-top: 20px;
  padding: 20px;
  border-radius: 4px;
  border: 2px solid #d3d3d3;
}
main .home .cont .head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .home .cont .head h3 {
  font-weight: bold;
  font-size: 1.6rem;
}
main .home .cont .head .set {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
main .home .cont .head .set .priority {
  width: 80px;
}
main .home .cont .head .set .deadline {
  width: 96px;
}
main .home .cont .head .set .deadline.heat {
  color: red;
}
main .home .cont li span {
  display: inline-block;
  font-size: 1.6rem;
}
main .home .cont li .title {
  width: calc(100% - 182px);
}
main .home .cont li .wrap {
  width: 182px;
}
main .home .cont li .wrap .priority {
  padding-left: 7px;
  width: 80px;
}
main .home .cont li .wrap .deadline {
  width: 96px;
}
main .home .cont li .wrap .deadline.heat {
  color: red;
}
main .home .cont li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  color: #333;
}
@media screen and (min-width: 768px) {
  main .home .cont li a {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
main .show .head {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
main .show .head .edit {
  margin-right: 10px;
}
main .show .cont li {
  font-size: 1.6rem;
}
main .show .cont li:not(:nth-of-type(1)) {
  margin-top: 15px;
}
main .show .cont li h3 {
  padding-bottom: 2px;
}
main .show .cont li:not(.comment) h3 {
  border-bottom: 2px solid #d3d3d3;
}
main .show .cont li p {
  margin: 5px 0 0 0;
}
main .show .delete {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #333;
  color: #333;
  font-size: 2.4rem;
}
main .show .comment {
  margin-top: 25px;
}
main .show .comment h3 {
  font-size: 1.6rem;
}
main .show .comment ul {
  margin-top: 10px;
}
main .show .comment li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
main .show .comment .close-btn {
  padding: 0 10px;
  font-size: 1.6rem;
}
main .show .comment-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
  border: 2px solid #d3d3d3;
}
main .show .comment-form button {
  display: table;
  text-align: center;
  margin: 20px auto 0;
}
main .create .form-group:not(:nth-of-type(1)), main .edit .form-group:not(:nth-of-type(1)) {
  margin-top: 10px;
}
main .create .form-group input, main .create .form-group textarea, main .edit .form-group input, main .edit .form-group textarea {
  width: 100%;
  padding: 4px 8px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  font-size: 1.6rem;
}
main .create .form-group input.priority, main .create .form-group textarea.priority, main .edit .form-group input.priority, main .edit .form-group textarea.priority {
  width: 56px;
}
main .create .form-group input.deadline, main .create .form-group textarea.deadline, main .edit .form-group input.deadline, main .edit .form-group textarea.deadline {
  width: 110px;
}
main .create .form-group input.deadline::-webkit-inner-spin-button, main .create .form-group input.deadline::-webkit-outer-spin-button, main .create .form-group textarea.deadline::-webkit-inner-spin-button, main .create .form-group textarea.deadline::-webkit-outer-spin-button, main .edit .form-group input.deadline::-webkit-inner-spin-button, main .edit .form-group input.deadline::-webkit-outer-spin-button, main .edit .form-group textarea.deadline::-webkit-inner-spin-button, main .edit .form-group textarea.deadline::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}
main .create .form-group .title-wrap, main .edit .form-group .title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
main .create .form-group .title-wrap h3, main .edit .form-group .title-wrap h3 {
  font-size: 1.6rem;
}
main .create .form-group .title-wrap p, main .edit .form-group .title-wrap p {
  margin-left: 10px;
  font-size: 1.3rem;
  color: #f33;
}
main .create .form-button, main .edit .form-button {
  text-align: center;
  margin-top: 30px;
}
main .create .form-button button, main .edit .form-button button {
  background-color: #fbc045;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
  margin-top: 50px;
}
.footer .copyright {
  text-align: center;
  padding: 10px 20px;
  font-size: 1.4rem;
  color: #fff;
  background-color: #a9a9a9;
}